language: rust
dist: xenial
addons:
  apt:
    packages:
    - libdiscid-dev
rust:
- stable
- beta
- nightly
cache: cargo
matrix:
  allow_failures:
  - rust: nightly
  fast_finish: true
before_script:
- rustup component add rustfmt
script:
- cargo build
- cargo test --verbose
- cargo fmt --verbose --all -- --check
deploy:
  provider: cargo
  token:
    secure: hLjEuwkJQrzzIwZTqvftAZh58I+D/rjbhyX+ZtTszYjZnMBKvFi5E5j2yLlF0b6rJSyrAtA/8wIANx0JHM/94mUdGoQkQZqtNX0asPFlp4ZfLheIgjqC14HcqmsdDshD49jde2Pg+ttk41IINy+ch0q+z4knXsWN84qIxGtB0G46AGWYs/NSymNgv/1syb+yU9mi63NlbRu9WrgPKcUHWBf78qIYygttgC2tw3YwNaH0IiDlNvyuff9XaCkV/Ovh2s2vhCdgj0m4D4GgKmnCnAAnWE/rP7NrtPZq8HOemjrJULhbV+n3yImlVXARkJzvCjpXVqiUTyKO6Rp/jcs9fcB6vqp5ASyob1JADxyTl6XHoZbacybJkY00SeHeAjwyOa29asp8diI4wqVTd6FkbPdYWMwjxQzzhVGmnv2kd0/Jes7Kg64YO4ZavpPHdrtimRzDdpeoHlbGNfSjZiy04PwhLmT7q0srRtiy/JfopEnVRwWG8v+p9TjC591dzn0DfXnF3r67O6u2wW0x/hPSmLL7Mei7IMz9/XaLHTi7CoZmhBbVbNaKq2OD/5J8OwdiL13ezPAGsiGWpFnBDvEwaHD3iOcAd0+QOUCMEQHua/5pYuoGY7Xgq1BRNy3vQHzPckaSHEG2G2q+dKBIu6JqN3mENfHYPGf4hBtBnBicNeY=
  on:
    branch: master
    tags: true
    rust: stable
